<span id="cartBudge" hx-get="/cart/budge" hx-trigger="cartBudge from:body" hx-swap="outerHTML" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{.Counter}}</span>
