Your order has been refunded.

Order {{.Order.ID}} has been refunded.

{{if .Reason}}Reason: {{.Reason}}

{{end}}Items:
{{range $line := .Order.Items}}- {{$line.ProductName}} x {{$line.Quantity}} = {{$line.LineTotalDisplay}} {{$line.PriceCurrency}}
{{end}}Total Refunded: {{.Order.TotalDisplay}} {{.Order.TotalCurrency}}

View order details: {{.OrderURL}}

If you have any questions, please reply to this email to contact {{.SiteName}} support.
