Reset your {{.SiteName}} password

We received a request to reset the password for your {{.SiteName}} account.

The link below is valid for {{.TTLMinutes}} minutes. If you didn't ask for a reset,
you can safely ignore this email - your current password stays in effect.

Open this link to choose a new password:
{{.ResetURL}}
